<?xml version="1.0"?>
<launch>
    <arg name="rviz_path" default="$(find raycast_mapping_ros)/launch/rviz.rviz"/>

    <include file="$(find raycast_mapping_ros)/launch/raycast_mapping.launch"/>

    <include file="$(find scan_to_pcl_ros)/launch/scan_to_pcl.launch"/>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_path)"/>
</launch>
